<div
  class="desktop"
  [ngClass]="{ 'bg-white': theme === 'light', 'bg-dark': theme === 'dark' }"
>
  <div
    class="d-flex flex-column justify-content-center align-items-center box-1"
  >
    <div
      class="d-flex flex-column justify-content-center align-self-stretch box-2"
    >
      <div
        class="d-flex flex-column justify-content-center align-items-center align-self-stretch"
      >
        <div
          class="d-flex justify-content-center align-items-center box-3"
          [ngClass]="{
            'txt-light': theme === 'light',
            'txt-dark': theme === 'dark',
            'label-light': theme === 'light',
            'label-dark': theme === 'dark'
          }"
        >
          Projects
        </div>
      </div>
      <div
        class="align-self-stretch box-4"
        [ngClass]="{
          'txt-light': theme === 'light',
          'txt-dark': theme === 'dark'
        }"
      >
        Some of the noteworthy projects I have built:
      </div>
    </div>
    @for (item of projects1; track $index) {
    <div
      class="d-flex box-5"
      [ngClass]="{
        'bg-light-2': theme === 'light',
        'bg-dark-2': theme === 'dark'
      }"
    >
      @if ($index%2 === 0) {
      <div
        class="d-flex justify-content-center align-items-center align-self-stretch box-6"
        [ngClass]="{
          'bg-light-3': theme === 'light',
          'bg-dark-3': theme === 'dark'
        }"
      >
        <img height="384px" [src]="item.img" alt="" />
      </div>
      <div
        class="d-flex flex-column align-items-center align-self-stretch box-7"
      >
        <div
          class="title"
          [ngClass]="{
            'head-light': theme === 'light',
            'head-dark': theme === 'dark'
          }"
        >
          {{ item.title }}
        </div>
        <div
          class="desc"
          [ngClass]="{
            'txt-light': theme === 'light',
            'txt-dark': theme === 'dark'
          }"
        >
          {{ item.desc }}
        </div>
        <div
          class="d-flex align-items-center align-self-stretch"
          style="flex-wrap: wrap; gap: 8px"
        >
          @for (t of item.tech_stack; track $index) {
          <div
            class="d-flex justify-content-center align-items-center box-8"
            [ngClass]="{
              'txt-light': theme === 'light',
              'txt-dark': theme === 'dark',
              'label-light': theme === 'light',
              'label-dark': theme === 'dark'
            }"
          >
            {{ t }}
          </div>
          }
        </div>
        <div class="d-flex align-items-center align-self-stretch">
          <a [href]="item.url" target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              [ngClass]="{
                'link-light': theme === 'light',
                'link-dark': theme === 'dark'
              }"
            >
              <path d="M18 13V19C18 19.5304 17.7893 20.0391 17.4142 20.4142C17.0391 20.7893 16.5304 21 16 21H5C4.46957 21 3.96086 20.7893 3.58579 20.4142C3.21071 20.0391 3 19.5304 3 19V8C3 7.46957 3.21071 6.96086 3.58579 6.58579C3.96086 6.21071 4.46957 6 5 6H11" stroke="#4B5563" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M15 3H21V9" stroke="#4B5563" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M10 14L21 3" stroke="#4B5563" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </a>
        </div>
      </div>
      } @else {
      <div
        class="d-flex flex-column align-items-center align-self-stretch box-7"
      >
        <div
          class="title"
          [ngClass]="{
            'head-light': theme === 'light',
            'head-dark': theme === 'dark'
          }"
        >
          {{ item.title }}
        </div>
        <div
          class="desc"
          [ngClass]="{
            'txt-light': theme === 'light',
            'txt-dark': theme === 'dark'
          }"
        >
          {{ item.desc }}
        </div>
        <div
          class="d-flex align-items-center align-self-stretch"
          style="flex-wrap: wrap; gap: 8px"
        >
          @for (t of item.tech_stack; track $index) {
          <div
            class="d-flex justify-content-center align-items-center box-8"
            [ngClass]="{
              'txt-light': theme === 'light',
              'txt-dark': theme === 'dark',
              'label-light': theme === 'light',
              'label-dark': theme === 'dark'
            }"
          >
            {{ t }}
          </div>
          }
        </div>
        <div class="d-flex align-items-center align-self-stretch">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              [ngClass]="{
                'link-light': theme === 'light',
                'link-dark': theme === 'dark'
              }"
            >
              <path d="M18 13V19C18 19.5304 17.7893 20.0391 17.4142 20.4142C17.0391 20.7893 16.5304 21 16 21H5C4.46957 21 3.96086 20.7893 3.58579 20.4142C3.21071 20.0391 3 19.5304 3 19V8C3 7.46957 3.21071 6.96086 3.58579 6.58579C3.96086 6.21071 4.46957 6 5 6H11" stroke="#4B5563" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M15 3H21V9" stroke="#4B5563" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M10 14L21 3" stroke="#4B5563" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </div>
      </div>
      <div
        class="d-flex justify-content-center align-items-center align-self-stretch box-6"
        style="border-radius: 0px 12px 12px 0px"
        [ngClass]="{
          'bg-light-3': theme === 'light',
          'bg-dark-3': theme === 'dark'
        }"
      >
        <img height="384px" [src]="item.img" alt="" />
      </div>
      }
    </div>
    } @if (showMore) { @for (item of projects2; track $index) {
    <div
      class="d-flex box-5 box-9"
      [ngClass]="{
        'bg-light-2': theme === 'light',
        'bg-dark-2': theme === 'dark'
      }"
    >
      @if ($index%2 === 1) {
      <div
        class="d-flex justify-content-center align-items-center align-self-stretch box-6"
        [ngClass]="{
          'bg-light-3': theme === 'light',
          'bg-dark-3': theme === 'dark'
        }"
      >
        <img height="384px" [src]="item.img" alt="" />
      </div>
      <div
        class="d-flex flex-column align-items-center align-self-stretch box-7"
      >
        <div
          class="title"
          [ngClass]="{
            'head-light': theme === 'light',
            'head-dark': theme === 'dark'
          }"
        >
          {{ item.title }}
        </div>
        <div
          class="desc"
          [ngClass]="{
            'txt-light': theme === 'light',
            'txt-dark': theme === 'dark'
          }"
        >
          {{ item.desc }}
        </div>
        <div
          class="d-flex align-items-center align-self-stretch"
          style="flex-wrap: wrap; gap: 8px"
        >
          @for (t of item.tech_stack; track $index) {
          <div
            class="d-flex justify-content-center align-items-center box-8"
            [ngClass]="{
              'txt-light': theme === 'light',
              'txt-dark': theme === 'dark',
              'label-light': theme === 'light',
              'label-dark': theme === 'dark'
            }"
          >
            {{ t }}
          </div>
          }
        </div>
        <div class="d-flex align-items-center align-self-stretch">
          <a [href]="item.url" target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              [ngClass]="{
                'link-light': theme === 'light',
                'link-dark': theme === 'dark'
              }"
            >
              <path d="M18 13V19C18 19.5304 17.7893 20.0391 17.4142 20.4142C17.0391 20.7893 16.5304 21 16 21H5C4.46957 21 3.96086 20.7893 3.58579 20.4142C3.21071 20.0391 3 19.5304 3 19V8C3 7.46957 3.21071 6.96086 3.58579 6.58579C3.96086 6.21071 4.46957 6 5 6H11" stroke="#4B5563" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M15 3H21V9" stroke="#4B5563" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M10 14L21 3" stroke="#4B5563" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </a>
        </div>
      </div>
      } @else {
      <div
        class="d-flex flex-column align-items-center align-self-stretch box-7"
      >
        <div
          class="title"
          [ngClass]="{
            'head-light': theme === 'light',
            'head-dark': theme === 'dark'
          }"
        >
          {{ item.title }}
        </div>
        <div
          class="desc"
          [ngClass]="{
            'txt-light': theme === 'light',
            'txt-dark': theme === 'dark'
          }"
        >
          {{ item.desc }}
        </div>
        <div
          class="d-flex align-items-center align-self-stretch"
          style="flex-wrap: wrap; gap: 8px"
        >
          @for (t of item.tech_stack; track $index) {
          <div
            class="d-flex justify-content-center align-items-center box-8"
            [ngClass]="{
              'txt-light': theme === 'light',
              'txt-dark': theme === 'dark',
              'label-light': theme === 'light',
              'label-dark': theme === 'dark'
            }"
          >
            {{ t }}
          </div>
          }
        </div>
        <div class="d-flex align-items-center align-self-stretch">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              [ngClass]="{
                'link-light': theme === 'light',
                'link-dark': theme === 'dark'
              }"
            >
              <path d="M18 13V19C18 19.5304 17.7893 20.0391 17.4142 20.4142C17.0391 20.7893 16.5304 21 16 21H5C4.46957 21 3.96086 20.7893 3.58579 20.4142C3.21071 20.0391 3 19.5304 3 19V8C3 7.46957 3.21071 6.96086 3.58579 6.58579C3.96086 6.21071 4.46957 6 5 6H11" stroke="#4B5563" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M15 3H21V9" stroke="#4B5563" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M10 14L21 3" stroke="#4B5563" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </div>
      </div>
      <div
        class="d-flex justify-content-center align-items-center align-self-stretch box-6"
        style="border-radius: 0px 12px 12px 0px"
        [ngClass]="{
          'bg-light-3': theme === 'light',
          'bg-dark-3': theme === 'dark'
        }"
      >
        <img height="384px" [src]="item.img" alt="" />
      </div>
      }
    </div>
    } }
    <div
      class="d-flex justify-content-center align-items-center align-self-stretch"
    >
      <button
        class="btn btn-primary"
        (click)="onScroll()"
        style="border: none;"
        [ngClass]="{
          'txt-light': theme === 'light',
          'txt-dark': theme === 'dark',
          'label-light': theme === 'light',
          'label-dark': theme === 'dark'
        }"
      >
        @if (showMore) { Show Less } @else { Show More }
      </button>
    </div>
  </div>
</div>

<div
  class="mobile"
  [ngClass]="{ 'bg-white': theme === 'light', 'bg-dark': theme === 'dark' }"
>
  <div
    class="d-flex flex-column justify-content-center align-items-center align-self-stretch"
    style="gap: 24px"
  >
    <div
      class="d-flex flex-column justify-content-center align-self-stretch box-2"
    >
      <div
        class="d-flex flex-column justify-content-center align-items-center align-self-stretch"
      >
        <div
          class="d-flex justify-content-center align-items-center box-3"
          [ngClass]="{
            'txt-light': theme === 'light',
            'txt-dark': theme === 'dark',
            'label-light': theme === 'light',
            'label-dark': theme === 'dark'
          }"
        >
          Projects
        </div>
      </div>
      <div
        class="align-self-stretch box-4"
        [ngClass]="{
          'txt-light': theme === 'light',
          'txt-dark': theme === 'dark'
        }"
      >
        Some of the noteworthy projects I have built:
      </div>
    </div>
    @for (item of projects1; track $index) {
    <div
      class="d-flex flex-column align-items-start align-self-stretch box-5"
      [ngClass]="{
        'bg-light-2': theme === 'light',
        'bg-dark-2': theme === 'dark'
      }"
    >
      <div
        class="d-flex justify-content-center align-items-center align-self-stretch box-6"
        [ngClass]="{
          'bg-light-3': theme === 'light',
          'bg-dark-3': theme === 'dark'
        }"
      >
        <img height="192px" [src]="item.img" alt="" />
      </div>
      <div
        class="d-flex flex-column align-items-center align-self-stretch box-7"
      >
        <div
          class="title"
          [ngClass]="{
            'head-light': theme === 'light',
            'head-dark': theme === 'dark'
          }"
        >
          {{ item.title }}
        </div>
        <div
          class="desc"
          [ngClass]="{
            'txt-light': theme === 'light',
            'txt-dark': theme === 'dark'
          }"
        >
          {{ item.desc }}
        </div>
        <div
          class="d-flex align-items-center align-self-stretch"
          style="flex-wrap: wrap; gap: 8px"
        >
          @for (t of item.tech_stack; track $index) {
          <div
            class="d-flex justify-content-center align-items-center box-8"
            [ngClass]="{
              'txt-light': theme === 'light',
              'txt-dark': theme === 'dark',
              'label-light': theme === 'light',
              'label-dark': theme === 'dark'
            }"
          >
            {{ t }}
          </div>
          }
        </div>
        <div class="d-flex align-items-center align-self-stretch">
          <a [href]="item.url" target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              [ngClass]="{
                'link-light': theme === 'light',
                'link-dark': theme === 'dark'
              }"
            >
              <path d="M18 13V19C18 19.5304 17.7893 20.0391 17.4142 20.4142C17.0391 20.7893 16.5304 21 16 21H5C4.46957 21 3.96086 20.7893 3.58579 20.4142C3.21071 20.0391 3 19.5304 3 19V8C3 7.46957 3.21071 6.96086 3.58579 6.58579C3.96086 6.21071 4.46957 6 5 6H11" stroke="#4B5563" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M15 3H21V9" stroke="#4B5563" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M10 14L21 3" stroke="#4B5563" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </a>
        </div>
      </div>
    </div>
    } @if (showMore) { @for (item of projects2; track $index) {
    <div
      class="d-flex flex-column align-items-start align-self-stretch box-5"
      [ngClass]="{
        'bg-light-2': theme === 'light',
        'bg-dark-2': theme === 'dark'
      }"
    >
      <div
        class="d-flex justify-content-center align-items-center align-self-stretch box-6"
        [ngClass]="{
          'bg-light-3': theme === 'light',
          'bg-dark-3': theme === 'dark'
        }"
      >
        <img height="192px" [src]="item.img" alt="" />
      </div>
      <div
        class="d-flex flex-column align-items-center align-self-stretch box-7"
        [ngClass]="{
          'txt-light': theme === 'light',
          'txt-dark': theme === 'dark'
        }"
      >
        <div
          class="title"
          [ngClass]="{
            'head-light': theme === 'light',
            'head-dark': theme === 'dark'
          }"
        >
          {{ item.title }}
        </div>
        <div
          class="desc"
          [ngClass]="{
            'txt-light': theme === 'light',
            'txt-dark': theme === 'dark'
          }"
        >
          {{ item.desc }}
        </div>
        <div
          class="d-flex align-items-center align-self-stretch"
          style="flex-wrap: wrap; gap: 8px"
        >
          @for (t of item.tech_stack; track $index) {
          <div
            class="d-flex justify-content-center align-items-center box-8"
            [ngClass]="{
              'txt-light': theme === 'light',
              'txt-dark': theme === 'dark',
              'label-light': theme === 'light',
              'label-dark': theme === 'dark'
            }"
          >
            {{ t }}
          </div>
          }
        </div>
        <div class="d-flex align-items-center align-self-stretch">
          <a [href]="item.url" target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              [ngClass]="{
                'link-light': theme === 'light',
                'link-dark': theme === 'dark'
              }"
            >
              <path d="M18 13V19C18 19.5304 17.7893 20.0391 17.4142 20.4142C17.0391 20.7893 16.5304 21 16 21H5C4.46957 21 3.96086 20.7893 3.58579 20.4142C3.21071 20.0391 3 19.5304 3 19V8C3 7.46957 3.21071 6.96086 3.58579 6.58579C3.96086 6.21071 4.46957 6 5 6H11" stroke="#4B5563" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M15 3H21V9" stroke="#4B5563" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M10 14L21 3" stroke="#4B5563" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </a>
        </div>
      </div>
    </div>
    } }
    <div
      class="d-flex justify-content-center align-items-center align-self-stretch"
    >
      <button
        class="btn btn-primary"
        (click)="onScroll()"
        style="border: none;"
        [ngClass]="{
          'txt-light': theme === 'light',
          'txt-dark': theme === 'dark',
          'label-light': theme === 'light',
          'label-dark': theme === 'dark'
        }"
      >
        @if (showMore) { Show Less } @else { Show More }
      </button>
    </div>
  </div>
</div>
