<div>
  <app-header
    style="position: sticky; top: 0; z-index: 100"
    (scrollVar)="scroll($event)"
    (themeChange)="changeTheme($event)"
  ></app-header>
  <div id="hero"></div>
  <app-hero [theme]="theme"></app-hero>
  <div id="about"></div>
  <app-about [theme]="theme"></app-about>
  <div id="skills"></div>
  <app-skills [theme]="theme"></app-skills>
  <div id="exp"></div>
  <app-experience [theme]="theme"></app-experience>
  <div id="projects"></div>
  <app-projects [theme]="theme" (scrollVar)="scroll($event)"></app-projects>
  <div id="certificates"></div>
  <app-certificates [theme]="theme"></app-certificates>
  <app-footer [theme]="theme"></app-footer>
</div>