$gray-50: #f9fafb;
$gray-100: #f3f4f6;
$gray-200: #e5e7eb;
$gray-600: #4b5563;
$gray-700: #374151;
$gray-900: #111827;
$gray-default: #ffffff;

$gray-dark-50: #111827;
$gray-dark-100: #1f2937;
$gray-dark-200: #374151;
$gray-dark-600: #d1d5db;
$gray-dark-700: #e5e7eb;
$gray-dark-900: #f9fafb;
$gray-dark-default: #030712;